.container {
    margin-top: 24px;
}

.data {
    color: #555;
    display: inline-block;
    vertical-align: top;
    max-width: 65%;
    padding-left: 1em;
}

a {
    color: #999;
}

h3 {
    margin-top: 0;
    margin-left: 0.5em;
}

h4 {
    margin: 0;
}

.mpaa-rating {
    display: inline-block;
    padding: 0.1em;
    margin-left: 0.5em;
    border: 2px solid black;
    border-radius: 0;
    font-family: Times New Roman;
    font-weight: bold;
}

.status {
    font-size: 1.5em;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    padding-right: 0.15em;
}

.download {
    font-weight: bolder;
}