.movie {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 230px;
    margin: 0.6em;
}

.movie:hover {
    cursor: pointer;
}

.movie a {
    color: white;
    text-decoration: none;
}

.cover {
    border: 2px solid white;
    border-radius: 3px;
    width: 230px;
    height: 345px;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4em;
}

.quality {
    margin-left: auto;
    text-align: right;
    background-color: rgba(30,30,30,0.8);
    padding: 0.25em 0.4em;
    border-radius: 3px;
}

.quality button {
    margin: 0.3em; 
}
