.message {
    font-size: 2.5em;
    height: 2.5em;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.warning {
    font-size: 4em;
}

.warning span {
    padding-left: 0.25em;
}

.search {
    padding: 0.75em;
}

.search input, .search select {
    margin: 0 0.6em;
}

.search button {
    margin-top: 0.35em;
}

.search span {
    margin-left: 0.5em;
}

select {
    height: 1.5em;
}

.arrow {
    font-size: 1.25em;
}

.arrow:hover {
    cursor: pointer;
}

.pager {
    padding: 0.5em;
}

.pager span {
    padding: 0.25em;
}

.location {
    font-size: 0.85em;
}