.movie {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 13em;
    margin: 0.6em;
}

.movie:hover {
    cursor: pointer;
}

.movie a {
    color: white;
    text-decoration: none;
}

.cover {
    border: 0.1em solid white;
    border-radius: 0.2em;
    width: 13em;
    height: 19.5em;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0.4em;
    position: relative;
}

.movieIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4em;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.quality {
    margin-left: auto;
    text-align: right;
    background-color: rgba(30,30,30,0.8);
    padding: 0.25em 0.4em;
    border-radius: 0.2em;
}

.quality button {
    margin: 0.3em; 
}


@media (max-width: 680px) {
    .movie {
        max-width: 8.66em;
    }

    .cover {
        width: 8.66em;
        height: 13em;
    }
}