.search {
    padding: 0.75em;
}

.search button {
    margin-top: 0.35em;
}

.searchItem  {
    margin-bottom: 0.35em;
}

.searchItem input, .searchItem select {
    margin: 0 0.6em;
    background-color: white;
    border: none;
    outline: none;
    transition: all 0.30s ease;
    padding: 0.3em;
    border-color: gray;
    border-radius: 3px;
}

.searchItem input:hover, .searchItem select:hover {
    box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.5);
}

.searchItem span {
    margin-left: 0.75em;
}

.searchItem input {
    height: 1.5em;
}

.searchItem select {
    height: 2.1em;
}

@media (min-width: 510px) {
    .search .form, .searchItem {
        display: inline-block;
    }
}