.spinner {
    border: 0.2em solid #888;
    border-top: 0.2em solid #f3f3f3;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    
    width: 1em;
    height: 1em;
    display: inline-block;
    margin-bottom: -0.35em;

    transition: opacity 0.5s ease-in;
}

.button {
    width: 0.65em;
    height: 0.65em;
}

.margin {
    margin-left: 0.5em;
}

.visible {
    opacity: 1;
}

.invisible {
    opacity: 0;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}